DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
INTERNAL_API_KEY=
TRANSCRIPTION_PROVIDER=groq
GROQ_API_KEY=
OPENAI_API_KEY=
STORAGE_DIR=./uploads
NEXT_PUBLIC_APP_URL=
NODE_ENV=
EASYPANEL_DEPLOY_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
TRANSCRIPTION_PROVIDER=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
